#page {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#sidebar{
    min-width: 220px;
    max-width: 220px;
    display: flex;
    flex-direction: column;
      
}

#sidebar-title{
    height: 68px;
    background-image: linear-gradient(to bottom, #FFB354, #EE7A3A);
}

#main{
    width: 1146px;
    min-width: auto;
    max-width: auto;
    display: flex;
    flex-direction: column;
   
}

#top{
    display: flex;
    flex-direction: row;
    min-height: 68px;
    background-color: #FDF1EB;
}

#bottom{
    display: flex;
    flex-direction: column;
}