//Page
#page {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

//Sidebar
#sidebar {
    min-width: 220px;
    max-width: 220px;
    display: flex;
    flex-direction: column;
    border-right: 5px inset rgb(231, 226, 226);
    border-radius: 7px;
    height: 1900px;
}

#sidebar-title {
    display: flex;
    min-height: 68px;
    max-height: 68px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #FFB354, #EE7A3A);
    color: #FFFFFF;
    font-weight: bold;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
}


#sidebar button {
    display: flex;
    border: none;
    background-color: #FFFFFF;
    min-width: 220px;
    max-width: 220px;
    min-height: 35px;
    max-height: 35px;
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
    color: #725C5C;
    font-weight: bold;
    border-bottom: 2px solid #BFBFBF;
    cursor: pointer;
    margin-bottom: 0px;
    padding: 7px;
    padding-left: 24px;
    border-right: 5px inset rgb(231, 226, 226);
}

#sidebar-body .btn-trabalhos.custom-button {
    background-color: #FDF1EB;
    border-left: 5px solid;
    border-image: linear-gradient(to bottom, #FFB354, #EE7A3A);
    border-image-slice: 0 0 0 1;
    border-right: 5px inset rgb(231, 226, 226);
}

#sidebar-body .btn-contato.custom-button {
    border-top: 2px solid #BFBFBF;
}

#sidebar-body,
#sidebar img {
    border-right: 5px inset rgb(231, 226, 226);
    border-radius: 7px;

}

#sidebar img {
    max-width: 220px;
}

//main
#main {
    width: 1146px;
    min-width: auto;
    max-width: auto;
    display: flex;
    flex-direction: column;

}

#top {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 68px;
    max-height: 68px;
    background-color: #FDF1EB;
    padding-left: 36px;
}

#top-titles {
    color: #725C5C;
    font-family: "Roboto", sans-serif;
    min-width: 643px;
    max-height: 68px;
}

.small-top-title {
    font-size: 14px;
    margin-bottom: 0px;
    max-height: 18px;
}

#big-top-title {
    font-size: 22px;
    margin-bottom: -4px;
    max-height: 64px;
}

#user-settings {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    margin-right: 37.85px;
    margin-left: 110px;
}

#language {
    height: 34px;
    width: 97px;
    border: 1px solid #CCCCCC;
    padding: 0px;
    background-color: #FDF1EB;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    cursor: pointer;
}

#welcome {
    max-width: 164px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: "Quicksand", sans-serif;
    margin-left: 22px;
}

#welcome p {
    margin: 0px
}

#btn-user,
#btn-user img {
    position: relative;
    max-width: 48px;
    max-height: 30px;
    border-radius: 100%;
    border: 0px;
    padding: 0px;
    cursor: pointer;
    margin-left: 6.85px;
}

#notification {
    position: absolute;
    right: 1px;
    border-radius: 100%;
    border: 0px;
    width: 12px;
    height: 12px;
    background-color: #F85959;
    font-size: 10px;
    color: #FFFFFF;
    padding: 1px;
    padding-bottom: 4px;
}

#bottom {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    padding-left: 36px;
}

#first-bottom {
    display: flex;
    flex-direction: row;
}

#first-bottom-title {
    color: #ED7839;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    min-width: 786px;
    max-width: 786px;
    min-height: 54px;
    margin-top: 20px;
}

#first-bottom-title h2 {
    font-size: 20px;
    font-weight: 900;
}

#first-bottom-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 56px;
    margin-top: 20px;
}

#btns-icons button,
#btns-icons img {
    height: 31px;
    width: auto;
    padding: 0px;
    background-color: none;
    border: none;
    cursor: pointer;
    margin-inline: 2.5px;
}

#question {
    margin-top: 12px;
    color: #ED7839;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    height: 25px;
}

#second-bottom {
    display: flex;
    flex-direction: row;
}

#details {
    width: 242px;
    height: 439px;
    margin-left: 45px;
    line-height: 1.5;
}

#details p {
    overflow-y: auto;
    font-family: "Quicksand", sans-serif;
    padding: 15px;
    padding-bottom: 10px;
    color: #5C5C5C;
    max-height: 439px;
    overflow-y: auto;
    border: 2px solid #BFBFBF;
}

.topic-title {
    font-size: 20px;
    font-weight: 500;
    padding-left: 15px;
    color: #4E4E4E;
    background-color: #FDF1EB;
    border: 2px solid #BFBFBF;
    border-bottom: none;
    font-family: "Roboto", sans-serif;
    padding-block: 10px;
}


#third-bottom {
    display: flex;
    max-width: 1070px;
    min-width: 1070px;
    max-height: 189px;
    flex-direction: column;
    margin-top: 30px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    margin-bottom: 30px;
    border-bottom: 2px solid #BFBFBF;

}

#summary-content p {
    font-size: 14px;
    font-family: "Quicksand", sans-serif;
    padding: 15px;
    border: 2px solid #BFBFBF;
}

#third-bottom.expanded {
    max-height: none;
    border-bottom: none;
}

.btn-show-more,
.btn-see-less {
    color: #ED7839;
    background-color: #FFFFFF;
    border: 0px;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    cursor: pointer;
}

#fourth-bottom {
    display: flex;
    flex-direction: column;
    max-width: 1070px;
    min-width: 1070px;

}

#discussions {
    border: 2px solid #BFBFBF;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    max-width: 1070px;
    min-width: 1070px;
}

#ideas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #BFBFBF;
    padding-bottom: 20px;
    margin-inline: 15px;
}

#ideas span {
    font-family: "Roboto", sans-serif;
    color: #ED7839;
    font-size: 20px;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 10px;
}

#image-ideas img {
    margin: 20px;
    width: 50px;
}

#ideas p {
    font-family: "Quicksand", sans-serif;
    color: #595959;
    font-size: 16px;
    padding-inline: 30px;
    width: 700px;
    text-align: center;
}

.central {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-create-topic {
    position: absolute;
    left: -64px;
    width: 133px;
    background-image: linear-gradient(to bottom, #FFB354, #EE7A3A);
    color: #FFFFFF;
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    font-weight: bold;
    border: 0px;
    border-radius: 3px;
    height: 34px;
    cursor: pointer;
}

.btn-create-new-topic {
    position: absolute;
    left: -114px;
    width: 235px;
    background-image: linear-gradient(to bottom, #FFB354, #EE7A3A);
    color: #FFFFFF;
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    font-weight: bold;
    border: 0px;
    border-radius: 3px;
    height: 34px;
    cursor: pointer;
}

#suggestion {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #BFBFBF;
    margin-inline: 15px;
    padding-top: 15px;
}

#suggestion span {
    font-family: "Roboto", sans-serif;
    color: #ED7839;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#suggestion p {
    font-family: "Quicksand", sans-serif;
    color: #595959;
    font-size: 16px;
}

#suggestion textarea {
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    height: 82px;
}

.subject {
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

#send {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #EAF1F2;
    border: 1px solid #BFBFBF;
    height: 35px;
}

#btn-send {
    height: 35px;
    background-image: linear-gradient(to bottom, #FEB154, #F1833E);
    color: #FFFFFF;
    width: 206px;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
}

#topic-sent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #BFBFBF;
    padding-bottom: 20px;
    margin-inline: 15px;
}

#topic-sent span {
    font-family: "Roboto", sans-serif;
    color: #ED7839;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#topic-sent p {
    font-family: "Quicksand", sans-serif;
    color: #595959;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#waiting-feedback {
    position: absolute;
    top: 50%;
    left: 36%;
    padding: 10px;
}

#waiting-feedback p {
    font-family: "Quicksand", sans-serif;
    color: #595959;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

#waiting-feedback span {
    color: #F48F44;
    text-decoration: underline;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
}

.fake-topic {
    margin-top: 20px;
    margin-inline: 15px;
    max-width: 1066px;
    height: fit-content;
    align-self: center;
    align-items: center;
    border: 2px solid #BFBFBF;
    padding-top: 10px;
}

.fake-topic span {
    color: #ED7839;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
}

.fake-topic p {
    color: #4D4D4D;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.interactions {
    display: flex;
    flex-direction: row;
}

.interactions img {
    height: 20px;
    margin-left: 15px;
}

.answered-topic {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 0px;
    margin-inline: 15px;
    max-width: 1066px;
    align-items: left;
    border: 2px solid #BFBFBF;
    padding-top: 10px;
    background: none;
    cursor: pointer;
}

.answered-topic span {
    color: #ED7839;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
}

.answered-topic p {
    color: #4D4D4D;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
}

.comments-container {
    display: flex;
    flex-direction: column;
    margin-inline: 15px;
    max-width: 1066px;
    align-items: left;
    border: 2px solid #BFBFBF;
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: none;
    background-color: #F8F8F8;

}

.comments-container p {
    color: #4D4D4D;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
}

.name-comment span {
    font-family: 'Quicksand', sans-serif;
    color: #ED7839;
    font-size: 16px;
    right: 4px;
    font-weight: bold;
}

#footer {
    margin-top: 50px;
    border-top: 2px solid #BFBFBF;
    margin-left: 15px;
    width: 1150px;
}

@media only screen and (max-width: 768px) {

    

}

@media only screen and (max-width: 510px) {

    #page, #main {
        min-width: 510px;
        max-width: 510px;
        height: auto;
    }

    #top{
        flex-direction: column-reverse;
    }

    #user-settings{
        flex-direction: row;
        margin-bottom: 10px;
    }

    #language{
        margin-left: 20px;
    }

    #btn-user{
        max-width: 0px;
    }

    .user{
        max-width: 60px;
    }

}