<div id="page">
    <div id="sidebar">
        <div id="sidebar-title">
            SLACA 2019
        </div>
        <div id="sidebar-body">
            <img src="assets/dewey4.jpg" alt="13-slaca-logo">
            <button>
                <p>Apresentação</p>
            </button>
            <button>
                <p>Comitês</p>
            </button>
            <button>
                <p>Autores</p>
            </button>
            <button>
                <p>Eixos Temáticos</p>
            </button>
            <button class="btn-trabalhos custom-button">
                <p>Trabalhos</p>
            </button>
            <button class="btn-contato custom-button">
                <p>Contato</p>
            </button>
        </div>
    </div>
    <div id="main">
        <div id="top">
            <div id="top-titles">
                <p class="small-top-title">Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
                <p id="big-top-title">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</p>
                <p class="small-top-title">ISSN: 1234-5678</p>
            </div>
            <div id="user-settings">
                <button id="language">
                    🌏 PT, BR ▼
                </button>
                <div id="welcome">
                    <p style="font-size: 14px;">Bem vindo!</p>
                    <p style="font-size: 12px;">alguem12&#64;galoascience.com</p>
                </div>
                <button id="btn-user">
                    <img src="assets/pessoa.jpeg" alt="imagem-usuario">
                    <button id="notification">2</button>
                </button>
            </div>
        </div>
        <div id="bottom">
            <div id="first-bottom">
                <div id="first-bottom-title">
                    <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do
                        município de Campinas/SP </h2>
                </div>
                <div id="first-bottom-options">
                    <div id="btns-icons">
                        <button><img src="assets/download.jpeg" alt="icone-download"></button>
                        <button><img src="assets/star.jpeg" alt="icone-favoritar"></button>
                        <button><img src="assets/doi.jpeg" alt="icone-doi"></button>
                    </div>
                    <div id="question">
                        COMO CITAR ESSE TRABALHO?
                    </div>
                </div>

            </div>
            <div id="second-bottom">
                <iframe width="784px" height="439px" src="https://www.youtube.com/embed/hVwbpjhdir8"
                    title="Vídeo do YouTube" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div id="details">
                    <div class="topic-title">Detalhes</div>
                    <p style="font-size: 12px;">Tipo de Apresentação: <strong>Pôster</strong> <br>
                        Eixo temático: <strong>Alimentação e saúde (AS)</strong> <br>
                        Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong><br>

                        <br>
                        <span style="font-size: 14px;">
                            <strong>Autores:</strong> <br>
                            Galileo Galilei¹ <br>
                            Berta Lange de Morretes² <br>
                            Isaac Newton³ <br>
                            Cesar Lattes¹ <br>
                            Stephen Hawking⁴ <br>
                        </span>
                        <span style="font-size: 12px; color: #ADA0A0">

                            <br>
                            ¹Universidade Estadual de Campinas <br>
                            ²Universidade de São Paulo <br>
                            ³Instituto Nacional de Pesquisas Espaciais <br>
                            ⁴Universidade Federal do Rio de Janeiro
                        </span>
                    </p>

                </div>
            </div>
            <div id="third-bottom" [class.expanded]="showMore">
                <div class="topic-title">Resumo</div>
                <div id="summary-content">
                    <p>
                        <span *ngIf="showMore">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor,
                            mollis
                            felis ut,
                            commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce
                            auctor
                            eros sed
                            magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet.
                            Donec
                            finibus nisi
                            tellus, ut viverra lorem vestibulum ut.
                             Phasellus condimentum orci id leo condimentum
                            lobortis
                            et non lorem.
                            Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros.
                            <br>
                            Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat
                            feugiat. Proin
                            dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus
                            mauris sodales id.
                            Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis.
                            Etiam finibus
                            urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean
                            interdum quis diam
                            ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet
                            odio.<br>
                            <br>
                            Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat.
                            Donec eleifend
                            vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu.
                            Phasellus
                            maximus dui
                            eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis
                            turpis.
                            Praesent blandit
                            elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur non
                            odio. Phasellus at
                            lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque
                            sagittis, mi
                            vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu
                            libero luctus,
                            consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa.<br>
                            <br>
                            Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta
                            pharetra
                            felis ut
                            hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas
                            dapibus
                            luctus dolor
                            at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum
                            sem.
                            Aliquam at
                            malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat
                            vitae. Lorem ipsum
                            dolor sit amet, consectetur adipiscing elit.<button class="btn-see-less" id="read-less-btn" (click)="readMore()">ver menos</button>
                        </span>
                        <span *ngIf="!showMore">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor,
                            mollis
                            felis ut,
                            commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce
                            auctor
                            eros sed
                            magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet.
                            Donec
                            finibus nisi
                            tellus, ut viverra lorem vestibulum ut.Phasellus condimentum orci id leo condimentum
                            lobortis
                            et non lorem.
                            Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros.
                            <button class="btn-show-more" id="read-more-btn" (click)="readMore()">ver mais</button>
                            <br>
                        </span>

                    </p>
                </div>

            </div>
            <div id="fourth-bottom">

            </div>
        </div>
        <div id="footer">

        </div>
    </div>
</div>