<div id="page">
    <div id="sidebar">
        <div id="sidebar-title">
            SLACA 2019
        </div>
        <div id="sidebar-body">

        </div>
    </div>
    <div id="main">
        <div id="top">
            <div id="top-titles">
                <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
        <h2>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h2>
        <p>ISSN: 1234-5678</p>
            </div>
            <div id="user-settings">

            </div>
        </div>
        <div id="bottom">
            <div id="first-bottom">

            </div>
            <div id="second-bottom">

            </div>
            <div id="third-bottom">

            </div>
            <div id="fourth-bottom">

            </div>
        </div>
        <div id="footer">

        </div>
    </div>
</div>