<div id="page">
    <div id="sidebar">
        <div id="sidebar-title">
            SLACA 2019
        </div>
        <div id="sidebar-body">
            <img src="assets/dewey4.jpg" alt="13-slaca-logo">
            <button>
                <p>Apresentação</p>
            </button>
            <button>
                <p>Comitês</p>
            </button>
            <button>
                <p>Autores</p>
            </button>
            <button>
                <p>Eixos Temáticos</p>
            </button>
            <button class="btn-trabalhos custom-button">
                <p>Trabalhos</p>
            </button>
            <button class="btn-contato custom-button">
                <p>Contato</p>
            </button>
        </div>
    </div>
    <div id="main">
        <div id="top">
            <div id="top-titles">
                <p class="small-top-title">Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
                <p id="big-top-title">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</p>
                <p class="small-top-title">ISSN: 1234-5678</p>
            </div>
            <div id="user-settings">
                <button id="language">
                    🌏 PT, BR ▼
                </button>
                <div id="welcome">
                    <p>Bem vindo!</p>
                    <p>alguem12&#64;galoascience.com</p>
                </div>
                <button id="btn-user">
                    <img src="assets/pessoa.jpeg" alt="imagem-usuario">
                    <button id="notification">2</button>
                </button>
            </div>
        </div>
        <div id="bottom">
            <div id="first-bottom">

            </div>
            <div id="second-bottom">

            </div>
            <div id="third-bottom">

            </div>
            <div id="fourth-bottom">

            </div>
        </div>
        <div id="footer">

        </div>
    </div>
</div>